*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h2{
  padding: 30px;
  
}

section{
  color: whitesmoke;
}

section h2 {
  border-radius: 5px;
  padding: 8px;
  border-radius: 15px;
  font-size: 40px;
  text-align: center;
  font-family: 'Alegreya';
  font-weight: bolder;
  text-transform: uppercase; 
  color: whitesmoke;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,0,0,1) 49%, rgba(134,0,0,1) 63%, rgba(68,0,0,1) 100%);
}

.banner{
  background-image: url(./img/banner\ choice\ 01.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 112vh;
  min-height: 100px;
  background-attachment: fixed;
}

body{
  background-color: #290000;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
  list-style: none;
  background: #610000;
  height: 75px;
  width: 100%;
  border-radius: 1px;
  position: fixed;
  z-index: 69;
}

.aot{
  background-image: url(./img/aot\ logo.png);
  background-size: 100%;
  line-height: 68px;
  padding: 0 50px 20px;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: 35px;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255, 252, 100);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: black;
  border-radius: 7px;
  transition: 0.3s;
  box-shadow: 5px 5px 20px black;
  color: rgb(204, 255, 101);
}

.checkbtn{

  font-size: 23px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 75px;
  margin-right: 30px;
  cursor: pointer;
  display:none;
  

}
#check{

  display: none;

}

.dots{
  max-width: 100%;
  width: 100%;
  height: 580px;
}


.dots_s3_p1{
  max-width: 100%;
  width: 100%;
  height: 700px;
}

.dots_s3_p2{
  max-width: 100%;
  width: 100%;
  height: 690px;
}

.dots_s4_p1{
  max-width: 100%;
  width: 100%;
  height: 870px;
}

.dots_s4_p2{
  max-width: 100%;
  width: 100%;
  height: 800px;
}

.dots_junior{
  max-width: 100%;
  width: 100%;
  height: 610px;
}

.dots_manga{
  max-width: 100%;
  width: 100%;
  height: 800px;
}


#poster_s1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18.5%;
  height: 16.5%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s1{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.released_date{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#poster_s2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s2{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_s3_p1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s3_p1{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_s3_p2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s3_p2{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_s4_p1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 31.5%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s4_p1{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_s4_p2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_s4_p2{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_ova{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_ova{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#poster_junior{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 4px;
  box-shadow: 0 0 20px 10px black;
  margin-top: 20px;
}

.p_junior{
  margin: 20px;
  text-align: center;
  margin-bottom: 20px;
} 


.desc{
  color: whitesmoke;
  text-decoration: none;
}

.dots_links{
  max-width: 100%;
  width: 100%;
  height: 999px;
}

.download_links {
  background-color: #dd0000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links1 {
  background-color: #b60000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links2 {
  background-color: #a00000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links3 {
  background-color: #7c0000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links4 {
  background-color: #4d0000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links5 {
  background-color: #1f0000;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 55px;
}

.download_links:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(179, 0, 0, 0.986);
}
.download_links1:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}
.download_links2:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}
.download_links3:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}
.download_links4:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}
.download_links5:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}

.links{
  padding: 15px;
}

.links span{
  padding: 10px 50px;
  border-radius: 15px;
    line-height: 50px;
    box-shadow:  5px 5px 20px black;
    text-transform: uppercase;
}

.about_aot{
  text-align: left;
  text-transform: capitalize;
}

#about_img{
  float: right;
  margin: 15px;
  width: 16.5%;
  height: 50%;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 5px 5px 20px black;
}

.tatakae{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style:italic;
  font-size: large;
  padding: 30px;
}

.clear1{
  clear: right;
  padding: 20px;
  word-spacing: 2px;
}

.tele{
  padding: 20px;
}

.telegram{

  background-color: rgb(0, 171, 177);
  color: white;
  box-shadow: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  padding: 10px;
  text-transform: capitalize;
  line-height: 30px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 20px 10px #000000;
  
}

.telegram:hover{

  border-radius: 50px;
  background-color: #000000;
  color: #00ffea;
  box-shadow: 5px 5px 20px #7c0000;
  transition: 0.3s;
}

.tel{
  text-align: center;
  text-transform: capitalize;
  padding: 20px;

}

.manga_div{
  margin: 19px;
  padding: 2px;
}

.manga_links {
  background-color: #eeff00c9;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 5px 5px 20px black;
  font-weight: 900;
  line-height: 55px;
}

.manga_links:hover{
  background-color: black;
  color: red;
  box-shadow: 5px 5px 20px rgba(146, 0, 0, 0.986);
}


.dots_caro{
  max-width: 100%;
  width: 100%;
  height: 650px;
}

.caro{
  max-width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*founder*/

.founder {
  text-align: center;
}

.profile_name{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  word-spacing: 7px;
  margin: 20px;
  text-align: center;
}

.profile_img{
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; /* this profile pic should be on circle*/
  width: 200px;
  
}

section h5 {
  margin: 40px;
  text-align: center;
}

section h4 {
  margin: 40px;
  text-align: center;
}

.handle{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.handle a{
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  margin: 0 30px;
  border-radius: 50%;
  line-height: 80px;
  position: relative;
  overflow: hidden;

}

.handle a .fab{
  font-size: 20px;
  line-height: 0px;
  position: relative;
  z-index: 10;
  transition: 0.3s;
  border-radius: 50%;
}

.handle a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

::-webkit-scrollbar{
  width: 0;

}

#scrollpath{
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
  z-index: 69;
}

@keyframes animate{

  0%,100%{
      filter: hue-rotate(0deg);
  }
  50%{
      filter: hue-rotate(360deg);
  }

}

#progressbar::before{
  content: '';
  position: absolute;
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar::after{
  content: '';
  position: absolute;
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

.click_here{
  font-weight: 800;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right_col{
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.right_col p{
  font-size: 18px;
  color: #acacac;
  font-weight: 500;
  margin-right: 15px;
}
#icon{
  width: 80px;
  cursor: pointer;
}



footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}


@media (min-width: 992px) {
 
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 18px;
  }


}

@media (max-width: 991.98px) {

  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #290000;
    top: 0px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #5bfff1;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .right_col p{
    font-size: 5px;
  }

  #icon{
    width: 40px;
  }

  .banner{
    width: 100%;
    height: 210px;
  }

  .dots{
    height: 650px;
  }

  .dots_s3_p1{
    height: 690px;
  }

  .dots_s3_p2{
    height: 690px;
  }

  .dots_s4_p1{
    height: 740px;
  }

  .dots_s4_p2{
    height: 740px;
  }

  #dots_ova{
    height: 510px;
  }

  .dots_junior{
    height: 540px;
  }
  
  #poster_s1{
    width: 100%;
    height: 450px;
  }

  #poster_s2{
    width: 100%;
    height: 450px;
  }

  #poster_s3_p1{
    width: 100%;
    height: 450px;
  }

  #poster_s3_p2{
    width: 100%;
    height: 450px;
  }

  #poster_s4_p1{
    width: 100%;
    height: 500px;
  }

  #poster_s4_p2{
    width: 100%;
    height: 500px;
  }

  #poster_ova{
    width: 100%;
    height: 320px;
  }

  #poster_junior{
    width: 100%;
    height: 240px;
  }


  .dots_links{      /*download section*/
    height: 2800px;
  }

  .dots_caro{
    height: 540px;
  }

  .caro{
    height: 300px;
  }

  .carousel{
    height: 355px;
  }

  .dots_manga{
    height: 4030px;
  }

  .manga_links{
    margin: 15px;
  }

  #progressbar{
    width: 0;
    overflow: hidden;
  }

}


@media screen and ( min-width: 768px ) {
  .caro{
    height: 500px;
  }
  .manga_links{
    height: 500px;
  }
}